<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugin.Battery" version="1.0.0.0" targetFramework="wpa81" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="wpa81" />
  <package id="Xam.Plugin.Contacts" version="1.0.0-alpha2" targetFramework="wpa81" />
  <package id="Xam.Plugin.DeviceInfo" version="1.0.0.2" targetFramework="wpa81" />
  <package id="Xam.Plugin.ExternalMaps" version="1.0.4" targetFramework="wpa81" />
  <package id="Xam.Plugin.Geolocator" version="1.0.2" targetFramework="wpa81" />
  <package id="Xam.Plugin.Media" version="1.0.0" targetFramework="wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.1.1" targetFramework="wpa81" />
  <package id="Xam.Plugins.Settings" version="1.5.2" targetFramework="wpa81" />
  <package id="Xam.Plugins.TextToSpeech" version="1.0.1" targetFramework="wpa81" />
  <package id="Xam.Plugins.Vibrate" version="1.0.0.5" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="1.4.4.6387" targetFramework="wpa81" />
</packages>