<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugin.ExternalMaps" version="1.0.4" targetFramework="MonoTouch10" />
  <package id="Xam.Plugin.Geolocator" version="1.0.3" targetFramework="MonoTouch10" />
  <package id="Xam.Plugins.Settings" version="1.5.2" targetFramework="MonoTouch10" />
</packages>