<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugin.Connectivity" version="1.0.0.0" targetFramework="win81" />
  <package id="Xam.Plugin.DeviceInfo" version="1.0.0.0" targetFramework="win81" />
  <package id="Xam.Plugins.Settings" version="1.4.0.1" targetFramework="win81" />
  <package id="Xam.Plugins.TextToSpeech" version="1.0.0.1" targetFramework="win81" />
  <package id="Xam.Plugins.Vibrate" version="1.0.0.4" targetFramework="win81" />
  <package id="Xamarin.Forms" version="1.2.3.6257" targetFramework="win81" />
</packages>