<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.Permissions" version="1.1.1" targetFramework="win81" />
  <package id="Plugin.Share" version="3.0.1" targetFramework="win81" />
  <package id="Xam.Plugin.Battery" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugin.Connectivity" version="2.0.0-alpha2" targetFramework="win81" />
  <package id="Xam.Plugin.Contacts" version="1.0.0-alpha5" targetFramework="win81" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugin.ExternalMaps" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugin.Geolocator" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugin.Media" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.2.0" targetFramework="win81" />
  <package id="Xam.Plugins.Notifier" version="2.0.0-alpha2" targetFramework="win81" />
  <package id="Xam.Plugins.Settings" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugins.TextToSpeech" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xam.Plugins.Vibrate" version="2.0.0-alpha1" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.0.0.6484" targetFramework="win81" />
  <package id="Xamarin.Insights" version="1.11.2" targetFramework="win81" />
</packages>